# Infraestrutura local
POSTGRES_USER=volunteer_connect
POSTGRES_PASSWORD=volunteer_connect_dev
POSTGRES_DB=volunteer_connect
POSTGRES_PORT=5432

# Aplicações locais
BACKEND_PORT=3000
FRONTEND_PORT=5173
